nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  height: 90px;
  padding: 0 80px;
  z-index: 10;
}

nav img.logo {
  width: 100%;
  max-width: 120px;
  filter: brightness(1000%);
}

nav .opcoes {
  display: flex;
  align-items: center;
}

nav .opcoes a {
  font-family: var(--regular);
  font-size: var(--f2);
  color: var(--cor-branco);
  margin: 0 0 0 30px;
  transition: all .3s;
}

nav .opcoes a:hover{
  color: var(--cor-azul);
}

nav .opcoes a.destaque {
  font-family: var(--bold);
  font-weight: 900;
  background-color: var(--cor-azul);
  padding: 12px 25px;
  border-radius: 10px;
}

nav .opcoes a.destaque:hover {
    background-color: var(--cor-branco);
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  nav {
    height: 70px;
    padding: 0 30px;
  }
  
  nav img.logo {
    max-width: 100px;
  }
  
  nav .opcoes a {
    display: none;
  }
  
  nav .opcoes a.destaque {
    display: block;
    padding: 10px 22px;
  }
}